button {
    width: 15rem;
    height: 5rem;
    border-style: none;
    font-size: 2rem;
    cursor: pointer;

}
.buttonRetirar{
    background: rgb(0, 174, 255);
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    margin-inline: 1rem;    
}
.buttonRetirar:hover{
    background: rgb(0, 160, 235);
}
.buttonChamar{
    background: green;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
    border-radius: 4px;
}
.buttonChamar:hover{
    background: rgb(1, 143, 1);
}
.btnClose {
   height: 3.2rem;
   width: 3.2rem;
   color: white;
   cursor: pointer;

   position: absolute;
   top: 1rem;
   right: 1rem;
   

   background: rgba(255, 0, 0, 0.842);
   border-radius: 4px;
}
.btnClose:hover{
    background: rgb(252, 36, 36);
    border-radius: 4px;
}
.btnSalvar {
    height: 3.2rem;
    width: 3.2rem;
    color: white;
    cursor: pointer;
    background: green;
    border-radius: 4px;

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.btnSalvar:hover{
    background: rgb(9, 170, 9);
    border-radius: 4px;
}