.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52rem;
    height: 32rem;

    background: rgba(8, 30, 63, 0.945);
    border-radius: 4px;
    position: fixed;
    z-index: 1;

    margin-bottom: 7rem;
}
.modal .header{
    width: 100%;
    padding-inline:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
}
.modal h1{
    color: white;
    font-size: 3rem;
}
.modal form{
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8;
    gap: .5rem;
}
.modal input{
    padding: .8rem;
    width: 30rem;
    font-size: 1.6rem;

}