.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 2rem;

    width: 100vw;
    height: 100vh;

    background-color: rgba(228, 228, 228, 0.123);
    background: linear-gradient( -5deg, rgba(20, 0, 53, 0.733), transparent, transparent,transparent);

}